.footer-contacts {

    padding: 64px 0 49px;

    &__row {
        margin-left: -10px;
        margin-right: -10px;
    }
    &__col {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        padding-bottom: 15px;
    }
    &__value {
        font-size: 20px;
        line-height: 1.2;
        padding-bottom: 15px;
    }
    &__link {
        text-decoration: none;
    }
    &__note {
        font-size: 16px;
        color: #565759;
    }

    &__btns-block {
        padding-top: 13px;
    }

}

.footer-contacts__value + .footer-contacts__value {
    margin-top: -7px;
}
.footer-contacts__value + .footer-contacts__name {
    padding-top: 10px;
}