.our-differences {
    padding: 135px 0 95px;
    background: url(../images/our-differences-bg.jpg) no-repeat center;
    background-size: cover;

    &__container {
        max-width: 982px;
        margin-left: auto;
    }

    &__main-info {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding-bottom: 55px;
    }
    &__title {
        color: @color-orange;               
        max-width: 100%;
        font-weight: 700;
    }

    &__item {
        padding: 0 0 45px 0;
        position: relative;
        color: #ffffff;
    }
    &__name {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 15px;
        text-transform: uppercase;

        span {
            display: block;
        }
    }
    &__text {
        font-size: 22px;
        color: #BDBDBD;
    }
}