.press-center {
    padding: 35px 0 141px;

    &__title {
        padding-bottom: 30px;
    }

    &__slider-text-block {
        padding: 15px 0;
    }

    &__slider-title {
        font-weight   : 700;
        font-size     : 20px;
        line-height   : 1.3;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    &__slider-text {
        line-height   : 1.3;        
        font-size: 18px;

        overflow          : hidden;
        display           : -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    &__slider-date {
        color: #7E7E7E;
        padding-top: 15px;
    }
}

@media screen and (min-width: 961px) {
    .press-center__slider-item:hover .press-center__slider-text-block,
    .press-center__slider-item:hover .press-center__slider-date {
        color: @color-orange;
    }
}